<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.6/Chart.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--<link rel="stylesheet" href="{% static 'datas/css/style.css' %}">-->
    <script src="{% static 'datas/update_country.js' %}"></script>

    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>-->


</head>
<body>

<div class="container">
    <div class="jumbotron" style="text-align: center">
        <h1>Covid-19 Datas </h1>
        <!--<p>Give you some datas in live !</p>-->
    </div>

      <form method="POST" id="post-form-list"  style="text-align: center">
        {% csrf_token %}
        {% crispy form %}
      </form>

    <div style="text-align: center">
        <h2 id="country">France</h2>
    </div>

<br>
<div class="w3-container ">
  <div class="w3-card-4 ">
    <header class="w3-container w3-blue">
      <h6>Confirmed</h6>
    </header>
    <div class="w3-container ">
      <strong id="confirmed">{{ france_confirmed }}</strong>
    </div>
  </div>
    <br>
  <div class="w3-card-4">
    <header class="w3-container w3-red">
      <h6>Deaths</h6>
    </header>
    <div class="w3-container" style="display: block;">
        <strong id="deaths">{{ france_deaths }}</strong>
        (+ <span id="last_day_deaths">{{ france_last_day_deaths }}</span>)
    </div>
  </div>
    <br>
  <div class="w3-card-4">
    <header class="w3-container w3-green">
      <h6>Recovered</h6>
    </header>
    <div class="w3-container">
      <strong id="recovered">{{ france_recovered }}</strong>
    </div>
  </div>
</div>


</div>
<br>
<br>


<div class="container">

    <div class="w3-card-4 w3-border w3-round-xlarge" style="height:300px; padding: 10px;">
  <canvas id="myChart"></canvas>
    </div>

    <br>
    <div class="w3-card-4 w3-border w3-round-xlarge" style="height:300px; padding: 10px;">
  <canvas id="myChart2"></canvas>
        <br>
    </div>

    <br>

    <div class="w3-card-4 w3-border w3-round-xlarge" style="height:250px;">
  <canvas id="myChart3"></canvas>
        <br>
<script>
    var ctx = document.getElementById("myChart");
    var myChart = new Chart(ctx, {
      type: 'bar',
      options: {
        responsive: true,
        maintainAspectRatio:false,
        title: {
            display: true,
            text: 'Confirmed vs Deaths vs Recovered',
            fontSize: 15,
            fontColor: "#111"
        },

    },
      data: {
          labels: [],
          datasets: [
          {
              label: 'Confirmed',
              backgroundColor: ["blue"],
              data: [
              {{ france_confirmed }}]
           },
           {
              label: 'Deaths',
              backgroundColor: ["red"],
              data: [
              {{ france_deaths }}]
           },
           {
              label: 'Recovered',
              backgroundColor: ["green"],
              data: [
              {{ france_recovered }}]
           }
          ]
      }
    })

    var ctx = document.getElementById("myChart2");
    var myChart = new Chart(ctx, {
      type: 'line',
      options: {
           responsive: true,
            maintainAspectRatio:false,
            title: {
                display: true,
                text: 'Deaths / day',
                fontSize: 15,
                fontColor: "#111"
                }
            },
      data: {
          labels: {{ france_dates_list|safe }},
          datasets: [
           {
              label: 'Deaths',
              backgroundColor: ["red"],
              data: {{ france_deaths_list }}
           },
          ]
      }
    })

    var ctx = document.getElementById("myChart3");
    var myChart = new Chart(ctx, {
      type: 'doughnut',
      options: {
            title: {
      display: true,
      position: "top",
      text: {{ france_death_rate }}+ " %",
      fontSize: 15,
      fontColor: "#111"
    },
           responsive: true,
            maintainAspectRatio:false,
            },
      data: {
          labels: ["Mortality Rate"],
          datasets: [
           {
              label: 'Deaths',
              backgroundColor: ["red"],
              data: [{{ france_death_rate }}, 100 - {{ france_death_rate }}]
           },
          ]
      }
    })



</script>
</div>

<br>


</body>
</html>